.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c6234;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-left .app-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-center {
    display: flex;
    gap: 20px;
  }
  
  .navbar-right {
    display: flex;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #10743F;
  }


  .profile-card {
    max-width: 400px;
    margin: 50px auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
  }
  
  .profile-header {
    margin-bottom: 20px;
  }
  
  .profile-body p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
  }
  
  .profile-body p strong {
    color: #007bff;
  }

  .logout-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .logout-button:hover {
    background-color: #c0392b;
  }

  .content {
    background-image: url('../../assets/feed1.jpg'); /* Ruta de tu imagen */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 60px; /* Para evitar que el contenido quede debajo de la barra */
  }
  
  
  