
<nav class="navbar">
    <div class="navbar-left">
      <span class="app-name">PlantApp</span>
    </div>
    <div class="navbar-center">
      <a routerLink="/home" class="nav-link">Identificar</a>
      <a routerLink="/feed" class="nav-link">Feed</a>
    </div>
    <div class="navbar-right">
      <a routerLink="/profile" class="nav-link">Mi Perfil</a>
    </div>
  </nav>
  <div class="content">


    <div *ngIf="profile" class="profile-card">
      <div class="profile-header">
        <h2>{{ profile.fullname }}</h2>
      </div>
      <div class="profile-body">
        <p><strong>Correo:</strong> {{ profile.email }}</p>
        <p><strong>Usuario:</strong> {{ profile.username }}</p>
      </div>

      <!-- Botón de cerrar sesión -->
      <button (click)="logout()" class="logout-button">Cerrar sesión</button>
    </div>
    



<router-outlet></router-outlet>
</div>